@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply inline-flex items-center px-4 py-2 bg-gray-100 text-gray-800 border border-transparent rounded-md font-semibold text-xs tracking-widest transition ease-in-out duration-150 ring-gray-300;
}

.button:hover {
    @apply bg-gray-200;
}

.button:active, .button:focus {
    @apply bg-gray-300 ring;
}

.button.button-primary {
    @apply bg-indigo-500 text-white !important;
}

.button-primary:hover, .button.button-primary:active, .button.button-primary:focus {
    @apply bg-indigo-600 !important;
}

.button.button-primary:disabled {
    @apply bg-indigo-200 !important;
}

.button.button-danger {
    @apply bg-red-500 text-white !important;
}

.button-danger:hover, .button.button-danger:active, .button.button-danger:focus {
    @apply bg-red-600 !important;
}

.button.button-danger:disabled {
    @apply bg-red-200 !important;
}

@layer utilities {
    .button-brightness {
        box-shadow: inset 0 0 28px 12px rgba(0, 0, 0, 0.1);
    }
    .gradient-border-bottom {
        color: hsl(233, 26%, 24%);
        border-width: 0 0 4px 0;
        border-style: solid;
        border-image: linear-gradient(
            to right,
            hsl(356, 72%, 44%),
            hsl(356, 42.54%, 41.17%)
        ) 3;
    }
}

@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:200px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
/*   margin:5px; */
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
  rotate: 270deg;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}

.text-border {
  text-shadow: 2px 0 0 #0000007d, -2px 0 0 #0000007d, 0 2px 0 #0000007d, 0 -2px 0 #0000007d, 1px 1px #0000007d, -1px -1px 0 #0000007d, 1px -1px 0 #0000007d, -1px 1px 0 #0000007d;
}

@keyframes p {
  from{--p:0}
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
}
page[size="A4"] {  
  width: 21cm;
  /* height: 29.7cm; */
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, page {
    background: white;
    margin: 0;
    box-shadow: 0;
  }
}